
html,body{
    height: 100%;
    width: 100%;
    color: coral;
}

.wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:5px blue solid;

}

.first{
    background-color: brown;
    border:2px gray solid ;
  



}

